# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
python-dotenv>=0.21.0
requests
pandas
yfinance
DateTime
matplotlib
scikit-learn
numpy
mysql-connector-python
python-dotenv
