appdirs
beautifulsoup4
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
Flask
fonttools
frozendict
html5lib
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
kiwisolver
lxml
MarkupSafe
matplotlib
multitasking
mysql-connector
mysql-connector-python
numpy
packaging
pandas
Pillow
protobuf
pycparser
pyparsing
pyTelegramBotAPI
python-dateutil
pytz
ratelimit
requests
scikit-learn
scipy
seaborn
six
soupsieve
threadpoolctl
urllib3
webencodings
Werkzeug
yfinance
zipp
